@font-face {
  font-family: CirrusCumulus;
  src: url("Fonts/CirrusCumulus.ttf");
}

 body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
/* Style for the header (seitliches Bar) */
header {
  position: fixed;
  /* background-image: url('images/header.png'); */
  background-color: white;
  background-size: cover; /* Adjust as needed */
  font-weight: 300;
  color: #000000;
  flex-direction: column; /* Vertically stack items */
  align-items: center;
  padding: 1.5rem;
  width: 150px; /* Adjust width */
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 1px 0 0px #bbadcc; /*Optional: Add a shadow to the side */
} 

a {
  text-decoration: none; /* Remove the default underline */
  color: #530a97; /* Change the link color to blue */
}

a:visited {
  color: #530a97; /* Change the color of visited links */
}

a:hover {
  color: #fde100;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Style for navigation links/sliders on the left */ 
.nav-links ul{
  padding: 0.5rem 0rem;
  width: 1%; /* Adjust width */
  height: 11rem; /*Adjust height to fill the viewport  */
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #000;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.nav-links a:hover {
  color: #bbadcc;
  text-decoration: none;
}

/* Milli = Logo */
.logo {
  font-size: 1.7rem; 
  font-family: 'CirrusCumulus', sans-serif;
  margin-bottom: 1rem;  /*Add margin to create space between logo and links */
}

.logo a {
  text-decoration: none; /* Remove the default underline */
  color: #bbadcc; /* Change the link color to blue */
}

.logo a:hover {
  color: #fde100; /* Add underline on hover */
}

  footer {
    position: relative;
    font-weight: 300;
    margin-top: auto;
  }

  footer p {
    position: absolute;
    right: 25px;
    bottom: 25px;
    margin: 0;
  }
  
  header h1, main h3  {
    font-family: 'CirrusCumulus', sans-serif;
    margin: 0;
    text-align: left
  }

  main h4 {
    font-size: 1rem;
    margin: 0;
    text-align: left;
    font-weight: 50;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  
  nav ul li a {
    color: #000;
    text-decoration: none;
  }
  
  main {
    font-weight: 300;
    margin-left: 150px;
    padding: 2rem;
    text-align: justify;
    text-align-last: none;
    font-size: 1.1rem;
  }
  
  section {
    margin-bottom: 2rem;
    max-width: 960px;
    margin: 0 auto;
  }
  
  section h2 {
    font-family: 'CirrusCumulus', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: auto;
  }

  .image-gallery-chicken img {
     max-width: 70%;
    height: auto;
    margin-bottom: 2rem; 
  }

  .project{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10vh;
  }
  .project iframe{
    width: 100%;
  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }
  
  /* image galleries within the project documents */
  .image-gallery-projects-inside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;
  }
  .image-gallery-projects-inside img {   /*project images inside every project */
    width: 400px;
    height: 400px;
    object-fit: cover; /* whole picture is shown */
    border-radius: 0.1rem;
  }
  img.two-col {
    grid-column: span 2; 
    width: 70% ; 
    height: auto;
  }
  .image-gallery-projects-inside video { /*same for video */
    width: 400px;
    height: 400px;
    object-fit: cover; /* whole picture is shown */
    border-radius: 0.1rem;
  }
  
  .image-gallery-projects-inside a:hover img { /* when clicking on the pictures */
    transform: rotate(0.03turn); /*mor convenient: scale(1.15, 1.15);*/
  }
  
  .image-gallery-projects-inside a:hover video { /* when clicking on the pictures */
    transform: rotate(0.03turn); /*mor convenient: scale(1.15, 1.15);*/
  }
  
  .medium-size {
    max-width: 45%;
  }

  .project p a{
    text-decoration: underline overline #FF3028;
    color: #000;
    margin: 0.5rem 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: inherit;
  }

  .project p a:visited {
    color: #000000; 
  }


.logo_style {
  display: block; 
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}


/* CSS code for the image gallery */
.image-gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  gap: 2rem;
  /* flex-direction: row; */
}

.image-gallery img {
  /* filter: invert(1) brightness(60%);  */
  /* filter: grayscale(100%) contrast(120%);  */
  width: 600px;
  height: 600px;
  object-fit: cover; /* whole picture is shown */
  border-radius: 1px;
  transition: margin-right 2s ease-in-out .5s;
}

.static-image {
  z-index: 1; /* Ensure static image is above animated GIF */
}

.onclick_image {
  display: none;
}

.image-gallery a:hover > .static-image {
  display: none; /* Hide static image when container is hovered */
}

.image-gallery a:hover > .onclick_image {
  display: unset; /* Show animated GIF when container is hovered */
}

.image-gallery a:hover img { /* when clicking on the pictures */
  /* filter: grayscale(0%); */
  cursor: pointer;
}

.image-gallery video { /*same for video */
  /* filter: grayscale(100%); */
  width: 800px;
  height: 800px;
  object-fit: cover; /* whole video is shown */
  border-radius: 1px;
  transition: margin-right 2s ease-in-out .5s;
}


.image-gallery a:hover video { /* when clicking on the pictures */
  filter: grayscale(0%);
  cursor: pointer;
}

/* Slideshow chickenandegg */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%; /* Adjust the max-width as needed */
  width: 100%; /* Ensure it takes the full available width */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #3c3c3c;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color:  #3c3c3c;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#stackoverflow {
  width: 50%;
  height: 50%;
  object-fit: cover; /* whole video is shown */
  border-radius: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nachwirken {
  width: 94.3%;
  height: 94.3%;
  object-fit: cover; /* whole video is shown */
  border-radius: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* chicken and egg imageslider */
.gallery-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-gallery-chicken {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  animation: scrollGallery 10s ease-in 0s infinite alternate;
}

.images {
  display: flex;
  height: 500px;
}

@keyframes scrollGallery {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-110%);
  }
}


@media only screen and (orientation: portrait) {

  body{
    padding: 0 4vw;
    padding-top: 12vh
  }

  .project{
    padding: 0 0vw;
    padding-top: 0px; /* Adjust this value as needed */
  }
  .image-gallery-projects-inside {
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 75px;
    
  }
  .image-gallery-projects-inside img {   /*images? */
    width: 100%;
    object-fit: unset;
    height: auto;
  }
  img.two-col {
    grid-column: unset; 
    height: 100%;
height: auto;  
}
  p{
    font-size: 2.3em;
  }

  section h4{
    font-size: 1.5em;
  }
  section h2{
    margin: 0;
    font-size: 5em;
  }
  .logo{
    font-size: 4em;
    background-color: #ffffff;
  }
  header {
    padding: 4vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
    box-shadow: 0 0px 55px #bbadcc;
  }
  .nav-links{
    position: absolute;
    right: 4vw;
  }
  .nav-links ul{
    padding:unset;
    height: unset; /*Adjust height to fill the viewport  */
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }
  .nav-links a {
    color: #000;
    font-size: 3.5rem;
  } 
  main{
    margin-left: unset;
  }
}
